= render @question

.container.answers data-question-id=@question.id
  = render @answers

= render 'answers/form'

= subscribe_to "/questions/#{@question.id}/answers"
= subscribe_to "/questions/#{@question.id}/comments"