@import "bootstrap";

#header_search {
  width: 300px; 
  border: 1px solid black; 
  background-color: #e5e5e5; 
}

.media {
  border-top: 1px solid #e5e5e5; 
  border-bottom: 1px solid #e5e5e5; 
}

.timestamp {
  color: #7A7A7A;
}